body {
	font-weight:200;
  background: #292a30;
  font-family: 'Roboto', sans-serif;
}

a {
	text-decoration:none;
}

h1 {
	font-size: 30px;
	font-weight: 900;
	color: black;
}

p {
	text-align:justify; 
	width:100%;
	margin-top:10px;
	color: black;
	font-weight: 500;
	font-size: 15px
}

.row li {
	width:100%;
	color: black;
	font-weight: 500;
	font-size: 15px
  font-family: 'Roboto', sans-serif;
}

.panel-body {
	padding-top: 30px;
	/*background-color: #585858;*/
}