.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 15px;
  background: lightsteelblue;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
}