<!-- ======= About Me Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <span>About Me</span>
      <h2>About Me</h2>
    </div>

    <div class="row">
      <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
      <div class="col-lg-8 d-flex flex-column align-items-stretch">
        <div class="content pl-lg-4 d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-lg-12">
              <p>Welcome to my personal website.  <br> <br>
                My name is Shengchen Liu.  I am a PhD majoring in Mechanical Engineering and also a MS majoring in Computer Science. I am currently a research assistant from Northeastern University working at <a href="https://coe.northeastern.edu/Research/nano-biomech/index.html">Micro/Nano Bio-Mechanical Characterization Lab</a>. I am excited to work with <a href="https://coe.northeastern.edu/people/wan-kai-tak/"> Prof.Kai-tak Wan</a> on Palpation Mechanics and Robotics.</p>
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Shengchen Liu</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> https://shengchen-liu.github.io</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> liu.sheng AT gatech.edu</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Boston, MA, USA</li>
                <li><i class="icofont-rounded-right"></i> <strong>Interests:</strong> Deep Learning, Robots, Drones, 3D printing</li>
              </ul>
            </div>
          </div>

        </div><!-- End .content-->



      </div>

      </div>
    </div>

  </div>
</section><!-- End About Me Section -->
