<!-- ======= My Experience ======= -->
<section id="experience" class="resume">
  <div class="container">
    <div class="section-title">
      <span>My Experience</span>
      <h2>My Expericence</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle" src="../assets/img/NUAA.jpg" alt="" width="180" height="180">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009-2013</h4>
                    <h4 class="subheading"> Earned a B.S. in Mechanical Engineering at Nanjing University of Aeronautics and Astronautics (NUAA)</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li >
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/NEU.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2013-2015</h4>
                    <h4 class="subheading"> Earned a M.S. in Mechanical Engineering at Northeastern University (NEU)</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/online.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2014- &#x221E</h4>
                    <h4 class="subheading">Took my first course in computer science, commited to lifelong learning</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/isec.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015 - Present</h4>
                    <h4 class="subheading">Pursuing PhD at Northeaster University.</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      1. <a href="https://www.researchgate.net/profile/Shengchen_Liu">Palpation Mechanics</a>: Simulate the process of mechanical palpation to detect hard incluisions inside transparent phantoms.<br>
                      2. Robotics arm development: Built 3D printed 6-axis robotic arms to simulate the palpation process to detect breast cancer.
                    </p>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/mavic_top.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015 - Present</h4>
                    <h4 class="subheading">Built several cool projects related to robots and deep learning.</h4>
                  </div>
                </div>
                <div class="line"></div>
              </li>

              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/GATech.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2019 - Present</h4>
                    <h4 class="subheading">Pursuing M.S. in Computer Science at Georgia Tech.</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">

                    </p>
                  </div>
                  <div class="line"></div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-responsive" src="../assets/img/segway.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>May 2019 - Dec. 2019</h4>
                    <h4 class="subheading">Application Engineer co-op at Segway</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      <a href="https://youtu.be/ZAxA3axv-AY">Development on Robotics MobilityPlatform</a>:<br>
                      1. NVIDIA Isaac Sim: Utilized Unity and Unreal Engine to build simulation for robot development. The robot achieved collision-free navigation in a warehouse environment around 60 square meter.<br>
                      2. Lidar Image Processing: Implemented PointPillar, a LIDAR encoding deep learning network using PyTorch for point cloud segementation.
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div

</section><!-- End My Resume Section -->
