<!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">Default</li>
          <li data-filter=".filter-app">Newest First</li>
          <li data-filter=".filter-card">Oldest First</li>
        </ul>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-robot">Robot</li>
          <li data-filter=".filter-dl">Deep Learning</li>
          <li data-filter=".filter-web">Web</li>
          <li data-filter=".filter-app">App</li>
        </ul>

        <div class="row portfolio-container">
          <!--  pupper-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl filter-robot"  data-date-order="1">
            <div class="portfolio-img"><img src="pupper/assets/view1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Quadruped robot</h4>
              <p>Pupper</p>
              <a href="./pupper/index.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

           <!-- FCND-Quadrotor -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot" data-date-order="13">
            <div class="portfolio-img"><img src="img/FCND-Term1-P3-3D-Quadrotor-Controller-master
/cpp-scenario-5.gif" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cascade PID controller with C++ and Python<</h4>
              <p>robot</p>
              <a href="https://github.com/shengchen-liu/FCND-Term1-P3-3D-Quadrotor-Controller-master" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

           <!-- CarND-Extended-Kalman-Filter -->

          <div class="col-lg-4 col-md-6 portfolio-item filter-robot" data-date-order="12">
            <div class="portfolio-img"><img src="img/CarND-Extended-Kalman-Filter/EKF.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Extended Kalman Filter Implementation with C++</h4>
              <p>robot</p>
              <a href="https://github.com/shengchen-liu/CarND-Extended-Kalman-Filter-Project" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- vehicle detection -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot filter-dl" data-date-order="11">
            <div class="portfolio-img"><img src="img/car_detection/car_detection.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vehicle Detection using CNN</h4>
              <p>robot</p>
              <a href="https://github.com/shengchen-liu/CarND_vehicle_Detection" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- behavioral cloning-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot filter-dl" data-date-order="10">
            <div class="portfolio-img"><img src="img/behavioral/behavioral.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Behavioral Cloning using CNN</h4>
              <p>robot</p>
              <a href="https://github.com/shengchen-liu/CarND-Behavioral-Cloning-P3-master" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!-- Mavic-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-robot" data-date-order="10">
            <div class="portfolio-img"><img src="img/mavic/Mavic_Top.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>3D printed DJI Mavic Pro</h4>
              <p>robot</p>
              <a href="./portfolio/mavic_pro.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <!--  D3 Graphs and Visualization -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-web"  data-date-order="2">
            <div class="portfolio-img"><img src="img/visualization/map.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>D3 Graphs and Visualization</h4>
              <p>Web</p>
              <a href="./portfolio/visualization/visualization.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!--  Force Directed graph-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-web"  data-date-order="1">
            <div class="portfolio-img"><img src="img/visualization/force.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Force Directed Graph with D3.js</h4>
              <p>Web</p>
              <a href="./portfolio/visualization/Force-directed/force-directed.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!--  Job Comparator-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app"  data-date-order="1">
            <div class="portfolio-img"><img src="portfolio/JobComparator/Home.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Job Offer Comparison App</h4>
              <p>App</p>
              <a href="./portfolio/job_comparator.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>

          <!--  cs231n-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-dl"  data-date-order="1">
            <div class="portfolio-img"><img src="cs231n/intro.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Deep Learning Notes</h4>
              <p>Deep Learning</p>
              <a href="./cs231n/index.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p class="icon-caption"></p>
            </div>
          </div>






        </div>

      </div>
    </section><!-- End My Portfolio Section -->
